use flake

# The following environment variables are required to run hydra-github-bridge locally.
# Avoid updating them here. Instead, put the variables you want to override in a `.env`
# file in this directory with the following format:
#
# HYDRA_HOST=http://example.com:3000
# HYDRA_DB=localhost:5432
# OTHER_VARIABLE=XYZ
#
export HYDRA_HOST=http://localhost:8000
export HYDRA_DB=
export HYDRA_DB_USER=
export HYDRA_DB_PASS=
export HYDRA_USER=bridge
export HYDRA_PASS=hydra
export PORT=8811
export HYDRA_STATE_DIR=/var/lib/hydra
export GITHUB_ENDPOINT_URL=http://localhost:4010
export GITHUB_USER_AGENT=
export GITHUB_WEBHOOK_SECRET=secret-token
export WEBHOOK_SECRET=secret-token
export GITHUB_APP_ID=12345
export GITHUB_APP_KEY_FILE=$PWD/flake/test/github-app.key
export GITHUB_APP_INSTALL_IDS=input-output-hk=1,IntersectMBO=2

dotenv_if_exists
